.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore

*/.ipynb_checkpoints

2022-mmax-inference-for-extreme-earthquake-magnitudes/preparation
2022-mmax-inference-for-extreme-earthquake-magnitudes/follow-up